<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>Game #<%- gameID %></title>
	</head>
	<body>
		<%- include("header") %>
		
		<div id="game-container"></div>
		
		<%- include("footer") %>
		
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
		<!-- Babel -->
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		
		<!-- Socket -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
		
		<script>
const socket = io("/game", {
	// If it fails to reconnect after 10 attempts then something is wrong
	// we should probably just reload the page
	reconnectionAttempts: 10,
	reconnectionDelayMax: 20000,
});
console.log(location.pathname);
// server-side value injection (of the harmless kind)
const GAME_ID = <%- gameID %>;
socket.emit("getGame", GAME_ID);
socket.on("disconnect", function(args) {
	console.error("SOCKET DISCONNECTED", arguments);
});
		</script>
		
		<!-- Scripts for game components -->
		<script src="/scripts/game/gameState.js" type="text/javascript"></script> <!-- pure js -->
		<script src="/scripts/game/actionInProgress.jsx" type="text/babel"></script>
		<script src="/scripts/game/piece.jsx" type="text/babel"></script>
		<script src="/scripts/game/system.jsx" type="text/babel"></script>
		<script src="/scripts/game/action_popup.jsx" type="text/babel"></script>
		<script src="/scripts/game/stash.jsx" type="text/babel"></script>
		<script src="/scripts/game/starmap.jsx" type="text/babel"></script>
		<script src="/scripts/game/game.jsx" type="text/babel"></script>
		
		<!-- Live game script (includes sockets and timers and so on) -->
		<script src="/scripts/game/liveGame.jsx" type="text/babel"></script>
	</body>
</html>